.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.loader div {
    animation:spin 1s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
