.root {
  padding-top: calc(4 * var(--spacing-unit));
}

.wallLink {
  cursor: pointer;
  text-decoration: underline;
}

.toggleDetails {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.toggleDetails svg {
  right: 0;
  position: absolute;
  transform: rotate(0);
  transition: transform 200ms ease-in-out;
}

.isActiveToggleDetails svg {
  transform: rotate(90deg);
}

.ascents {
  display: inline-flex;
}

.ascents *:nth-child(2) {
  margin: 0 calc(2 * var(--spacing-unit));
}
