::placeholder {
    color: var(--color-black);
}

.input {
    display: inline-flex;
    width: 100%;
    padding: 5px 0 10px;
    box-shadow: inset 0 -1px 0 0 var(--color-black);
}

.input.input--checkbox,
.input.input--hidden {
    box-shadow: none;
}

.input.input--checkbox:focus-within {
    box-shadow: none;
}

.input:focus-within {
    box-shadow: inset 0 -2px 0 0 var(--color-black);
}

.input .icon {
    margin: 0 4px 0 0;
}

.input input {
    width: 100%;
    font-weight: normal;
    outline: none;
    border: 0;
    font-size: 1.125rem;
    line-height: 1.25em;
    background: none;
}

.input input[type="checkbox"] {
    box-shadow: none;
}

.input--small {
    width: auto;
    display: inline-flex;
    border: 1px solid var(--color-black);
    box-shadow: none;
    padding: 4px;
}

.input--small input {
    font-size: var(--font-size-eta);
    line-height: var(--line-height-eta);
}

.input--filled {
    background: var(--color-white);
}
