.button {
    appearance: none;
    border: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.button.button--primary {
    font-size: 1em;
    letter-spacing: .1em;
    background: var(--color-dark);
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 128px;
    width: fill-available;
    margin-top: 36px;
}

.button.button--primary:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.button.button--disabled {
    pointer-events: none;
    background: var(--color-lightgrey);
    color: var(--color-grey);
}

.button.button--text {
    font-size: .75em;
    display: flex;
    color: var(--color-blue);
    padding: 7px 16px;
    border-radius: 8px;
}

.button.button--text:hover {
    background: var(--color-lightblue);
}

.button.button--text.button--secondary {
    color: var(--color-grey);
}