.root {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.root .loader {
  position: absolute;
  right: calc(var(--spacing-unit) * 1.5);
}

.isDisabled {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}

/* default */
.isDefaultSize {
  font-size: var(--font-size-zeta);
  font-weight: var(--font-weight-bold);
  padding: calc(var(--spacing-unit) * 1.25) calc(var(--spacing-unit) * 6);
}

/* error */
.isDefaultSize.isError {
  color: var(--color-white);
  background: var(--color-red);
}

/* primary */
.isDefaultSize.isPrimary {
  color: var(--color-white);
  background: var(--color-lila);
}

/* small */
.isSmallSize {
  font-size: var(--font-size-eta);
  line-height: 20px;
  font-weight: var(--font-weight-bold);
  padding: calc(var(--spacing-unit) / 2) calc(var(--spacing-unit) * 2);
  border-radius: calc(var(--spacing-unit));
}

/* error */
.isSmallSize.isError {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.isSmallSize.isError:hover,
.isSmallSize.isError.isInverted {
  color: var(--color-white);
  background: var(--color-red);
}

/* primary */
.isSmallSize.isPrimary {
  color: var(--color-lila);
  border: 1px solid var(--color-lila);
}

.isSmallSize.isPrimary:hover,
.isSmallSize.isPrimary.isInverted {
  color: var(--color-white);
  background: var(--color-lila);
}

.isSmallSize.isPrimary.isInverted:hover {
  border: 1px solid var(--color-lila);
  color: var(--color-lila);
  background: var(--color-white);
}
