.allTimeLink {
  margin-top: 40px;
}

.tableRow,
.tableHeader {
  grid-template-columns: 60px minmax(70px, auto) 80px 100px 100px 110px 100px 100px 100px 100px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .pointsCell,
  .advanceCell,
  .genderCell,
  .lastActivityCell {
    display: none;
  }

  .tableRow,
  .tableHeader {
    grid-template-columns: 60px 120px 100px 100px 100px 100px;
  }
}

@media (max-width: 600px) {
  .pointsCell,
  .advanceCell,
  .bouldersCell,
  .flashedCell,
  .toppedCell,
  .genderCell,
  .lastActivityCell {
    display: none;
  }

  .tableRow {
    grid-template-columns: 10px minmax(70px, auto) 100px;
  }

  .tableHeader {
    display: none;
  }
}
