.table--ranking {
    grid-template-columns: 80px 1fr 80px 80px .75fr 120px 120px 120px 100px;
}

.table--ranking .user-cell {
    display: flex;
    align-items: center;
}

.table--ranking .actions-cell > .button {
    margin-left: auto;
}

.progress {
    height: 10px;
    width: 100%;
    border-radius: 2px;
    background-color: #E8E8E8;
    margin-right: 40px;
}

.progress > div {
    height: 100%;
    border-radius:  2px 0 0 2px;
}

.progress--success > div {
    background: #02DEAF;
}

.progress--danger > div {
    background: #FF625F;
}

.progress--warning > div {
    background: #FFCB41;
}