.form {
}

.form-row {
  grid-column-gap: calc(3 * var(--spacing-unit));
  margin-bottom: calc(8 * var(--spacing-unit));
  display: grid;
  max-height: 200px;
}

.form-element {
  flex-direction: column;
}
