.search {
  margin-top: calc(4 * var(--spacing-unit));
  margin-bottom: calc(4 * var(--spacing-unit));
}

.tag {
  border: 1px solid var(--color-black);
  height: 32px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding-left: var(--spacing-unit);
  padding-right: calc(var(--spacing-unit) / 3);
  margin-right: var(--spacing-unit);
  border-radius: 4px;
  white-space: nowrap;
}

.removeTag {
  cursor: pointer;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

.placeholder {
  margin: 2px 40px 2px 0;
  width: 80%;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  animation: loading 600ms linear infinite;
}

.filter {
  list-style: none;
  margin: 0;
}

.filterName {
  margin-bottom: calc(2 * var(--spacing-unit));
}

.filterOptions {
  margin-top: 8px;
  overflow-x: hidden;
  max-height: 200px;
  overflow-y: scroll;
  list-style: none;
}

.filterOptionsItem {
  cursor: pointer;
  margin-bottom: var(--spacing-unit);
}

.isHoldTypeFilterOptionsItem {
  display: flex;
  align-items: center;
}

.isHoldTypeFilterOptionsItem > *:first-child {
  margin-right: var(--spacing-unit);
}
