.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}

.tableRow,
.tableHeader {
  grid-template-columns: minmax(20px, 60px) 80px 60px auto 140px 140px 140px 140px;
}
