.textarea {
  overflow: auto;
  outline: none;
  border: none;
  background: var(--color-lightgrey);
  resize: none;
  min-height: 260px;
  width: 100%;
  border-radius: 4px;
  padding: calc(2 * var(--spacing-unit));
}
