.counter {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--color-black);
  height: 32px;
  background: var(--color-white);
}

.counter__button {
  width: 32px;
}

.counter__button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.counter__button svg {
  margin: 0 auto;
}

.counter__input {
  border: 0;
  font-weight: var(--font-weight-bold);
  text-align: center;
  width: 25px;
  font-size: var(--font-size-eta);
}
