.table--boulder .ascents {
  display: flex;
  /*background: var(--color-lightgrey);*/
}

.table--boulder {
  display: flex;
}

.table--boulder .table-content .swipe-out {
  box-shadow: inset 0 -1px 0 0 var(--color-dark);
}

.table--boulder .table-header {
  display: none;
}

.table--boulder .table-row {
  display: grid;
  grid-template-columns: 72px auto 40px;
  box-shadow: inset 0 -1px 0 0 var(--color-dark);
}

.table--boulder .table-row > div:nth-child(2) {
  margin-top: 0.75em;
}

.table--boulder .table-row > div:nth-child(3) {
  align-items: center;
  display: flex;
}

.table--boulder .edit-boulder {
  margin-right: 0.5em;
}

.table--boulder .table-cell--name,
.table--boulder .inline-wall-names,
.table--boulder .table-cell--grade {
  margin-bottom: 0.25em;
}

.table--boulder .table-cell.table-cell--hidden{
  visibility: hidden;
}

.table-cell.table-cell--ascent {
  margin: 0 0.5rem;
}

.table--boulder .table-cell--holdStyle {
  margin: 1rem;
}

.table--boulder .table-cell--name__details-button .icon {
  display: none;
}

.table--boulder .inline-wall-names {
  color: var(--color-grey);
}

.table--boulder .inline-wall-names span {
  margin: 0 0.25em;
}

@media (min-width: 601px) and (max-width: 1139px) {
  .table--boulder .table-row {
    grid-template-columns: 72px auto 160px;
  }

  .table--boulder .ascents {
    box-shadow: none;
    background: none;
  }
}

@media (min-width: 1140px) {
  .table--boulder {
    grid-template-columns: 85px 0.25fr 0.5fr 1.5fr 0.75fr 0.75fr 0.5fr 156px 0 0;
  }

  .table--boulder .table-header,
  .table--boulder .table-content,
  .table--boulder .table-row {
    display: contents;
  }

  .table--boulder.table--editable {
    grid-template-columns: 40px 85px 0.25fr 0.5fr 1.5fr 0.75fr 0.75fr 0.5fr 156px 0 0;
  }

  .table--boulder .ascents {
    box-shadow: none;
    background: none;
  }

  .table--boulder .table-cell--name,
  .table--boulder .inline-wall-names,
  .table--boulder .table-cell--grade {
    margin-bottom: 0;
  }

  .table--boulder .table-row > div:nth-child(2) {
    margin-top: 0;
  }

  .table--boulder .table-cell--holdStyle {
    margin: 0;
  }

  .table-cell.table-cell--ascent {
    margin: 0;
  }
}

/**
 * Detail Page
 */
.header-detail {
  display: flex;
  align-items: center;
}

.page-detail .detail__list {
  padding: 12px 0;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-lightgrey);
}

.page-detail .detail__list ul {
  padding: 16px 0;
  margin: 0;
}

.page-detail .detail__list ul li {
  padding: 8px;
  margin: 0;
}

.page-detail .detail__list li {
  display: flex;
  align-items: center;
}

.page-detail .detail__list li .button {
  margin-left: auto;
}

.page-detail .detail__list li .icon {
  padding-right: 8px;
}

.page-detail .report-error {
  margin: 16px auto 0;
}

/**
 * Error Page
 */
.header-error {
  display: flex;
  align-items: center;
}

.header-error .icon + h3 {
  margin-left: 8px;
}

.header-error h3 {
  white-space: nowrap;
  text-overflow: clip ellipsis;
}

/**
 * Doubt Page
 */
.header-doubt {
  display: flex;
  align-items: center;
}

.header-doubt .icon + h3 {
  margin-left: 8px;
}

.page-doubt .button--text,
.page-error .button--text {
  margin-top: 16px;
  margin-left: auto;
}

.drawer .holdstyle {
  padding: 0;
  margin: 0 8px 0 0;
  width: 24px;
  height: 24px;
}

/*
 * Filter
 */
.filter {
  width: 100%;
}

.filter .toggle-filter-dropdown {
  margin-left: auto;
}

.filter .input {
  width: 100%;
}
