.ascents {
    list-style: none;
    padding: 0;
    margin: 0;
}

.table-cell__name button {
    width: fill-available;
    text-align: left;
    display: flex;
    align-items: center;
}

.detail__list {
    padding: 16px 0;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-lightgrey);
}

.detail__list ul {
    padding: 16px;
    margin: 0;
}

.detail__list ul li {
    padding: 8px;
    margin: 0;
}

.detail__list h4 {
    padding: 0 16px;
}

.detail__list li {
    display: flex;
    align-items: center;
}

.detail__list li .button {
    margin-left: auto;
}

.detail__list li .icon {
    padding-right: 8px;
}

.drawer .holdstyle {
    padding: 0;
    margin: 0 8px 0 0;
    width: 24px;
    height: 24px;
}

.drawer .report-error {
    margin: 16px auto;
}