.checkbox__switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    width: 48px;
    height: 24px;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
    border: 1px solid var(--color-black);
}

.checkbox__label .checkbox-label__button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    transition: 200ms;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.checkbox__switch:checked + .checkbox__label .checkbox-label__button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.checkbox__switch:checked + label {
    background: var(--color-black);
}

.checkbox__label:active .checkbox-label__button {
    width: 24px;
}