.button {
    width: 100%;
    height: 3.125rem;
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    line-height: 3.125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
}

.button.button--secondary {
    background-color: var(--color-light);
    color: var(--color-dark);
    box-sizing: border-box;
    border: 1px solid var(--color-dark);
}

.button.button--disabled {
    cursor: not-allowed;
    background: var(--color-grey);
}

.button.button--disabled:active {
    box-shadow: none;
}

.button--secondary.button--disabled {
    background: var(--color-light);
    color: var(--color-grey);
    border: 1px solid var(--color-grey);
}