.root {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid var(--color-black);
  display: flex;
  align-items: center;
}

.root:hover svg {
  cursor: pointer;
  transform: scale(1.2);
}

.root svg {
  margin: 0 auto;
  align-items: center;
  transition: transform 80ms ease-in-out;
}

.isDisabled {
  opacity: 0.3;
  pointer-events: none;
}

.isLoading {
  pointer-events: none;
}

.isLoading svg {
  animation: ascentLoader 600ms linear infinite;
}

.isFlash.isChecked {
  border: 1px solid var(--color-flash);
}

.isTop.isChecked {
  border: 1px solid var(--color-top);
}

.isResignation.isChecked {
  border: 1px solid var(--color-resign);
}

@keyframes ascentLoader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
