.blocked-time-slots {
    list-style: none;
}

.blocked-time-slots__item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-black);
    padding: calc(2 * var(--spacing-unit)) 0;
    align-items: center;
}

.blocked-time-slots__item:last-child {
    border-bottom: 1px solid var(--color-black);
}

.react-add-to-calendar__dropdown ul {
    list-style: none;
}


.react-add-to-calendar__dropdown ul a {
    text-decoration: none;
}

.react-add-to-calendar__dropdown {
    margin-top: var(--spacing-unit);
}