.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.root .loader {
  top: calc(50% - 30px);
  align-self: center;
}

.header {
  padding: calc(2 * var(--spacing-unit));
  border-bottom: 1px solid var(--color-black);
  display: grid;
  grid-template-columns: 20px auto 24px;
  align-items: center;
}

.headerTitle {
  margin-left: var(--spacing-unit);
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close {
  margin-left: auto;
}

.close,
.back {
  cursor: pointer;
}

.listItem {
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.listItem:last-child {
  padding-bottom: 0;
}

.listAllButton {
  margin: 16px auto 0;
}

.ascent {
  display: flex;
  align-items: center;
}

.ascent svg {
  margin-right: var(--spacing-unit);
}

.hasPendingDoubtAscent {
  opacity: 0.25;
}

.title {
  margin-top: calc(4 * var(--spacing-unit));
  margin-left: calc(2 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
}

.content {
  margin: calc(2 * var(--spacing-unit));
}

.list {
  list-style: none;
}

.separator {
  border-bottom: 1px solid var(--color-grey);
  margin-top: 16px;
}

.reportErrorButton,
.commentButton {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: auto;
}

.commentButton {
  margin-top: 16px;
}

.reportErrorButton {
  padding-bottom: 16px;
  margin-top: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formTextArea {
  margin-bottom: calc(1 * var(--spacing-unit));
}

.formButton {
  margin-left: auto;
}

.commentList {
  list-style: none;
  margin: 0 16px;
}

.commentListItem {
  border-bottom: 1px solid var(--color-grey);
  padding-top: 8px;
  padding-bottom: 8px;
}

.commentListItem:last-child {
  border-bottom: none;
}

.commentAuthor {
  font-weight: bold;
}

.commentAuthor,
.commentDate {
  text-align: right;
}

.commentDelete {
  padding: 0;
  color: var(--color-red);
  font-weight: bold;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.rating {
  display: inline-flex;
  margin: 16px auto 0;
  align-items: center;
}

.rateButton {
  cursor: pointer;
  transition: filter 200ms ease-in-out;
  filter: grayscale(1);
}

.rateButton:hover {
  filter: grayscale(0);
}

.active {
  filter: grayscale(0);
}
