.inner {
  position: relative;
  overflow: hidden;
}

.isRevealed .content {
  z-index: 100;
}

.facade {
  overflow: hidden;
}

.content {
  overflow: hidden;
  z-index: -100;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: inset 2px 0 8px rgba(0, 0, 0, 0.1);
}
