.header {
    display: flex;
    padding: 1em;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
}

.header .logo {
    font-weight: bold;
    font-size: 1em;
    margin-right: 4px;
}

.header > .navigation {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
}

.header > .navigation li {
    margin-left: 10px;
}

.header .icon {
    margin-left: auto;
    z-index: 99;
}

.location-switch {
    display: flex;
}

.location-switch .hyperlink {
    font-size: 1em;
    padding-right: 16px;
}

.offcanvas-navigation {
    width: 320px;
    height: 100%;
    z-index: 9;
    box-shadow: inset 1px 0 0 0 var(--color-dark);
    background: var(--color-light);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: -320px;
    top: 0;
    padding: 1em;
    box-sizing: border-box;
}

.offcanvas-navigation.offcanvas-navigation--open {
    right: 0;
}

.location-list .location-list__item {
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.location-list .location-list__item {
    cursor: pointer;
}

.location-list .location-list__item--active {
    font-weight: 600;
}

.location-list {
    grid-column: 2  / span 10;
}

.location-info {
    display: none;
}

.locations {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    left: 0;
    top: 50px;
}

.locations .location-list li {
    display: flex;
    cursor: pointer;
}

.locations .location-list li .geo {
    font-size: 1rem;
    margin: 9px 0 0 20px;
    font-weight: 400;
}

@media (min-width: 601px) and (max-width: 1139px) {
}

@media (min-width: 1140px) {
    .location-list {
        grid-column: 2  / span 5;
    }

    .location-info {
        grid-column: 8  / span 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .location-info .location-info__social {
        grid-row: 2;
        grid-column: 2;
        text-align: right;
        line-height: 1.25rem;
    }

    .location-info .location-info__address {
        grid-row: 2;
        grid-column: 1;
        line-height: 1.25rem;
    }

    .location-info .location-info__image {
        grid-column: 1  / span 2;
        grid-row: 1;
        width: 100%;
        height: 320px;
        background-size: cover;
    }
}
