.header {
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-self: start;
}

.header__logo {
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.header-nav {
    list-style: none;
}

.header-nav__item {
    text-decoration: none;
    margin-left: calc(2 * var(--spacing-unit));
    cursor: pointer;
}

.location-select {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin-left: var(--spacing-unit);
}