.header {
    box-sizing: border-box;
    align-items: center;
    margin-bottom: calc(4 * var(--spacing-unit));
    justify-content: space-between;
    display: flex;
}

.header__logo {
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.header-nav {
    list-style: none;
}

.header-nav__item {
    text-decoration: none;
    margin-left: calc(2 * var(--spacing-unit));
    cursor: pointer;
}