.header {
    display: flex;
    box-shadow: inset 0 -1px 0 0 var(--color-dark);
    padding: 20px;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header ul li {

}

.header .logo {
    font-weight: bold;
    font-size: 1em;
}

.header .navigation {
    margin-left: auto;
}

.header .navigation li{
    margin-left: 10px;
}