.header {
    display: flex;
    padding: 20px 30px;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header ul li {

}

.header .logo {
    font-weight: bold;
    font-size: 1em;
    margin-right: 4px;
}

.header .navigation {
    margin-left: auto;
}

.header .navigation li {
    margin-left: 10px;
}

.location-switch {
    display: flex;
}

.location-switch .hyperlink {
    font-size: 1em;
    padding-right: 16px;
}