.drawer {
  position: fixed;
  width: 320px;
  z-index: 300;
  top: 0;
  right: 0;
  background: var(--color-light);
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid var(--color-grey);
  height: 100vh;
  transition: right 200ms ease-in-out;
}

.drawer-overlay {
  z-index: 200;
  background: var(--color-white);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.drawer-overlay--visible {
  opacity: 0.6;
}

.drawer--open {
  right: 0;
}
