.drawer {
    position: fixed;
    width: 100%;
    height: 50%;
    bottom: -50%;
    background: var(--color-light);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0 1px 0 0 var(--color-dark);
    display: flex;
    flex-direction: column;
}

.drawer.drawer--open {
    bottom: 0;
}

.drawer .loader {
    align-items: center;
    top: 50%;
    position: relative;
    margin-top: -20px;
}

.drawer .drawer__page {
    height: 100%;
}

.drawer .drawer__header {
    padding: 1em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 var(--color-dark);
}

.drawer .drawer__header .close-drawer {
    margin-left: auto;
}

.drawer .drawer__content {
    padding: 1em;
}

@media (min-width: 601px) and (max-width: 1139px) {

}

@media (min-width: 1140px) {
    .drawer {
        top: 0;
        right: -320px;
        width: 320px;
        height: 100%;
        box-shadow: inset 1px 0 0 0 var(--color-dark);
    }

    .drawer.drawer--open {
        right: 0;
    }
}