.header {
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    align-self: start;
    position: fixed;
    z-index: 200;
    top: 0;
    display: grid;
    left: 0;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: var(--header-height) auto;
    background: var(--color-white);
    height: var(--header-height);
}

.header__logo {
    text-decoration: none;
    font-weight: bold;
    display: block;
    grid-row: 1;
    grid-column: 1;
    padding-left: calc(1 * var(--spacing-unit));
}

.header-logo__title {
    text-decoration: none;
}

.header__mobile-toggle {
    grid-row: 1;
    grid-column: 2;
    margin-left: auto;
    padding-right: calc(1 * var(--spacing-unit));
}

.header__nav {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: none;
    background: var(--color-white);
    padding: calc(1 * var(--spacing-unit));
}

.header-nav {
    list-style: none;
    display: none;
    padding-top: calc(2 * var(--spacing-unit));
}

.header-nav--open {
    display: grid;
}

.header-nav__item {
    text-decoration: none;
    cursor: pointer;
    padding-bottom: calc(2 * var(--spacing-unit));
}

.header-nav__item:last-child {
    padding-bottom: 0;
}

.header-nav__item--active {
    font-weight: var(--font-weight-bold);
}

.location-select {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}


@media (min-width: 768px) {
    .header__logo {
        padding-left: calc(2 * var(--spacing-unit));
    }

    .header__mobile-toggle {
        padding-right: calc(2 * var(--spacing-unit));
    }

    .header-nav {
        padding: calc(2 * var(--spacing-unit));
    }
}

@media (min-width: 1024px) {
    .header {
        background: none;
        display: flex;
        padding: calc(3 * var(--spacing-unit));
    }

    .header__logo {
        padding-left: 0;
    }


    .header__mobile-toggle {
        display: none;
    }

    .header-nav {
        background: none;
        display: flex;
        padding: 0;
    }

    .header-nav__item {
        margin-left: calc(4 * var(--spacing-unit));
        padding-bottom: 0;
    }
}
