.bar {
  position: fixed;
  bottom: 0;
  background: var(--color-light);
  box-shadow: inset 0 1px 0 0 var(--color-dark);
  width: 100%;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  left: 0;
  align-items: center;
}

.bar div {
  display: flex;
}

.bar__summary {
}

.bar__actions {
  margin-left: auto;
}
