.crud-table {
    width: 100%;
}

.crud-table thead {
    border-bottom: 1px solid var(--color-black);
}

.crud-table th {
    text-align: left;
    font-weight: var(--font-weight-bold);
    padding: calc(2 * var(--spacing-unit));
}

.crud-table tr {
    padding: calc(2 * var(--spacing-unit));
    border-bottom: 1px solid var(--color-black);
}

.crud-table td {
    padding: calc(2 * var(--spacing-unit));
}
