.boulder-form {
}

.boulder-form .button:first-child {
  grid-column: 1;
}

.boulder-form .button:last-child {
  margin-left: auto;
  grid-column: 2;
}

@media (min-width: 601px) {
  .boulder-form {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .boulder-form .form__row {
    grid-column: 1 / 3;
  }

  .boulder-form .row-start,
  .boulder-form .row-grade {
    grid-column: 1;
  }

  .boulder-form .row-end,
  .boulder-form .row-internal-grade {
    grid-column: 2;
  }
}
