.filters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
}

.tableRow,
.tableHeader {
  grid-template-columns: minmax(20px, 60px) 80px 60px minmax(60px, auto) 140px 140px 140px 100px 152px;
}

.isAdminTableRow,
.isAdminTableHeader {
  grid-template-columns: 40px minmax(20px, 60px) 80px 60px minmax(60px, auto) 140px 140px 140px 100px 152px;
}

.setterCell > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  display: flex;
  align-items: center;
}

.barButtons > *:last-child {
  margin-left: 16px;
}

/* small desktop to ipad */
@media (max-width: 1280px) and (min-width: 768px) {
  .filters {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters > * {
    margin-bottom: 16px;
  }
}

@media (max-width: 1280px) {
  .tableRow,
  .tableHeader {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(20px, 60px) 80px auto 100px 100px 152px;
  }

  .isAdminTableRow,
  .isAdminTableHeader {
    grid-template-columns: 40px minmax(20px, 60px) 80px auto 100px 100px 152px;
  }

  .pointsCell,
  .endWallCell,
  .setterCell {
    display: none;
  }
}

@media (max-width: 768px) {
  .tableHeader {
    display: none;
  }

  .filters {
    grid-template-columns: 1fr;
  }

  .filters > * {
    margin-bottom: 16px;
  }
}
