.boulder-list {

}

.boulder-list-header__item {
    display: flex;
    align-items: center;
}

.boulder-list__header,
.boulder-list-content__item {
    display: grid;
    align-items: center;
    grid-column-gap: calc(4 * var(--spacing-unit));
    grid-template-columns: minmax(48px, 80px) minmax(60px, 90px) minmax(80px, 100px) auto 140px 140px 100px 152px;
    padding-top: calc(2 * var(--spacing-unit));
    padding-bottom: calc(2 * var(--spacing-unit));
}

.boulder-list-content-item__cell {
    white-space: nowrap;
    overflow: hidden;
}

.boulder-list-content__item {
    border-bottom: 1px solid var(--color-black);
}

.boulder-list-header__item {
    font-weight: var(--font-weight-bold);
}

.ascents {
    display: inline-flex;
}

.ascents .ascent:nth-child(2) {
    margin: 0 calc(2 * var(--spacing-unit));
}

.toggle-details {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-details svg {
    margin-left: auto;
    position: absolute;
    right: 0;
    transform: rotate(0);
    transition: transform 200ms ease-in-out;
}

.toggle-details__active svg {
    transform: rotate(90deg);
}

.details {
    height: 100%;
}
