.emoji {
    margin: .5rem;
    overflow: hidden;
    font-size: 1.25em;
}

.emoji > div {
    width: 40px;
    height: 40px;
}

.emoji.emoji--small {
    margin: 8px;
}

.emoji.emoji--small > div {
    width: 16px;
    height: 16px;
}
