.side {
  display: grid;
  margin: 0;
  padding: 0;
}

.sideTitle {
  margin-bottom: 30px;
}

.sideContent {
  max-width: 560px;
}

@media (min-width: 1140px) {
  .side {
    grid-template-columns: 1fr 2fr;
  }

  .sideTitle {
    margin-bottom: 0;
  }

  .sideContent {
    margin-left: 116px;
    margin-top: 12px;
  }
}
