@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

@font-face {
  font-family: "Karla";
  src: url("https://fonts.googleapis.com/css?family=Karla&display=swap");
  font-weight: normal;
}

/*
|--------------------------------------------------------------------------
| Load fonts
|--------------------------------------------------------------------------
| Example
|
| @font-face {
|   font-family: "Sans";
|  ;
|   font-style: normal;
|   src: url('/fonts/NotoSans-Bold.ttf') format('truetype')
| }
|
|--------------------------------------------------------------------------
| Create a font class system
|--------------------------------------------------------------------------
|
| Font classes are created according to the individual project.
| Speak with the designer and take your time
| Changing the class system afterwards is very error prone.
|
| Questions you might wanna ask yourself:
| - Do we have multiple font families?
| - How correlate font sizes to each other?
| - Do we need media queries for font sizes?
| - Are we gonna use special classes for italic or bold fonts?
|
|--------------------------------------------------------------------------
| Naming
|--------------------------------------------------------------------------
|
| - use t--alpha, t--beta etc.
| - try to avoid using additional font utility classes, e.g. t--beta-bold
| - no h
*/

.t--alpha,
.t--beta,
.t--gamma,
.t--delta,
.t--epsilon,
.t--zeta,
.t--eta,
.t--theta {
  font-family: var(--font-family-sans);
}

.t--alpha,
.t--beta,
.t--gamma,
.t--delta,
.t--epsilon,
.t--zeta,
.t--eta {
  letter-spacing: 0;
}

.t--alpha {
  font-size: 48px;
  line-height: 56px;
}

.t--beta {
  font-size: var(--font-size-beta);
  line-height: var(--line-height-beta);
}

.t--gamma {
  font-size: var(--font-size-gamma);
  line-height: var(--line-height-gamma);
}

.t--delta {
  font-size: var(--font-size-delta);
  line-height: var(--line-height-delta);
}

.t--epsilon {
  font-size: var(--font-size-epsilon);
  line-height: var(--line-height-epsilon);
}

.t--zeta {
  font-size: var(--font-size-zeta);
  line-height: var(--line-height-zeta);
}

.t--eta {
  font-size: var(--font-size-eta);
  line-height: var(--line-height-eta);
  letter-spacing: 0.05em;
}

mark {
  padding: 2px 4px;
  background: var(--color-lila);
  color: var(--color-white);
}

a svg,
p svg,
span svg,
h1,
h2,
h3,
h4 {
  display: inline-flex;
}

strong {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 768px) {
  .t--alpha {
    font-size: 38px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .t--alpha {
    font-size: 48px;
    line-height: 56px;
  }
}
