.room-list {
    display: flex;
    margin-top: calc(4 * var(--spacing-unit));
}

.room-list__item {
    margin-left: calc(12 * var(--spacing-unit));
}

.room-list__item:first-child {
    margin-left: 0;
}

.room-list-item__schedule {
    list-style: none;
    padding-bottom: 120px;
}

.room-list-item__title {
    margin-bottom: calc(2 * var(--spacing-unit));
}

.room-list-item-schedule__item {
    display: grid;
    border: 1px solid var(--color-black);
    border-bottom: none;
    grid-template-columns: 1fr 1fr 2fr;
    padding: calc(2 * var(--spacing-unit));
    transition: color ease-in 200ms, background ease-in 200ms;
    box-sizing: border-box;
    align-items: start;
}

.room-list-item-schedule__item:last-child {
    border-bottom: 1px solid var(--color-black);
}

.room-list-item-schedule-reservations {
    list-style: none;
}

.room-list-item-schedule-reservations__item {
    border: 1px dashed var(--color-black);
    padding: calc(2 * var(--spacing-unit));
    position: relative;
}

.room-list-item-schedule-reservations__item--appeared {
    background: var(--color-lila);
    color: var(--color-white);
}

.room-list-item-schedule-reservations-item__detail {
    margin: 0;
    padding: 0;
}

.room-list-item-schedule-reservations-item__check-in {
    cursor: pointer;
    background: var(--color-lila);
    color: var(--color-white);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    display: flex;
}