.overview-header__title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.overview__time-slot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.overview__reservations {
    border: 1px solid var(--color-black);
    border-bottom: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.overview-reservations__item {
    border-right: 1px solid var(--color-black);
}

.overview-reservations-item {
    padding: calc(2 * var(--spacing-unit));
}

.overview-reservations-item--appeared {
    background: var(--color-ice);
}

.overview-reservations-item--detail {
    margin: 0;
}

.overview-reservations-item--actions {
    margin-top: calc(2 * var(--spacing-unit));
}

.overview-reservations-item--detail__name {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-unit);
}