.toast {
  padding-top: calc(1.25 * var(--spacing-unit));
  padding-right: calc(4 * var(--spacing-unit));
  padding-bottom: calc(1.25 * var(--spacing-unit));
  padding-left: calc(1.25 * var(--spacing-unit));

  position: fixed;
  top: calc(2 * var(--spacing-unit));
  right: calc(2 * var(--spacing-unit));
  z-index: 400;
}

.toast__title,
.toast__description {
  margin: 0;
}

.toast__title {
  margin-bottom: calc(1 * var(--spacing-unit));
}

.toast--success,
.toast--info {
  background: var(--color-lila);
  color: var(--color-white);
}

.toast--danger {
  background: var(--color-red);
  color: var(--color-white);
}

.toast--warning {
  background: var(--color-yellow);
  color: var(--color-white);
}
