.table {
    display: grid;
    margin-bottom: 8px;
    white-space: nowrap;
}

.table-header,
.table-content,
.table-row {
    display: contents;
}

.table-cell {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-dark);
}

.table-header {
    font-weight: bold;
    font-size: 0.875rem;
}

.table-header .sort-indicator {
    margin-left: auto;
    height: 40px;
    padding: 6px;
    display: flex;
    align-items: center;
}

.table-header-cell {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-dark);
}

.table-footer {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 12px 12px 0;
}

.table-footer .pager {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.pager .pager-info {
    margin-right: 20px;
}

.toggle-previous,
.toggle-next {
    height: min-content;
    cursor: pointer;
}

.toggle-previous {
    border-right: 1px solid #333;
    padding: 0 24px 0 0;
}

.toggle-next {
    padding: 0 0 0 24px;
}

.toggle-previous.toggle-previous--disabled,
.toggle-next.toggle-next--disabled {
    pointer-events: none;
}

.toggle-previous.toggle-previous--disabled .icon,
.toggle-next.toggle-next--disabled .icon {
    opacity: .3;
}

.filter {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

@media screen and (max-width: 1140px) {

    .table {
        display: block;
    }

    .table-header {
        display: none;
    }

    .table-content {
        flex-direction: column;
    }

    .table-header,
    .table-content,
    .table-row {
        display: flex;
    }

    .table-cell {
        border-bottom: 0;
    }
}
