.table > .table-content > .table-row {
    border-top: 1px solid #333333;
}

.table > .table-content > .table-row:last-child {
    border-bottom: 1px solid #333333;
}

.table-cell {
    display: flex;
    align-items: center;
}

.table-row {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr 1.5fr .5fr .5fr 1fr .5fr;
}

.table-row > .table-cell:not(:last-child) {
    margin-right: 2rem;
}

.table-cell--grow {
    width: fill-available;
}

.table-header {
    margin: 20px 0 0 0;
    display: flex;
}

.table-header-row {
    display: flex;
    align-items: center;
}

.table-header-row {
    font-weight: bold;
    font-size: 0.875rem;
    margin: 18px 23px;
}

.table-footer {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.table-footer .pager {
    margin-left: auto;
    display: flex;
}

.toggle-previous,
.toggle-next {
    height: min-content;
    cursor: pointer;
}

.toggle-previous {
    border-right: 1px solid #333;
    padding: 0 24px 0 0;
}

.toggle-next {
    padding: 0 0 0 24px;
}

.toggle-previous.toggle-previous--disabled,
.toggle-next.toggle-next--disabled {
    pointer-events: none;
}

.toggle-previous.toggle-previous--disabled .icon,
.toggle-next.toggle-next--disabled .icon {
    opacity: .3;
}

.filter {
    display: flex;
}

.filter .search {
    width: fill-available;
}