.avatar {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-color: var(--color-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.avatar--fallback {
  background: var(--color-lila);
}

.avatar--fallback .icon {
  margin: 0 auto;
}
