.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.table {
    border: 1px solid;
    text-align: left;
    white-space: nowrap;
}

.table-row {
    display: flex
}

.table-column {
    flex: 1;
    overflow: hidden;
    /*border: 1px solid #eee;*/
}

div {
    width: 100%;
}

* {
    font-size: 1rem;
}