@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root {
    --color-dark: #333;
    --color-light: #fff;
    --color-lightgrey: #D9D9D9;
    --color-error: #FF0000;
    --color-grey: #A2A2A2;
}

body, p, a, input {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 80px;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

a.secondary {
    color: var(--color-grey);
}