@keyframes rainbow {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0 19%;
    }
    100% {
        background-position: 100% 10%;
    }
}

.app {
    background: linear-gradient(49.93deg, rgba(255, 230, 0, 0.39) 18.88%, rgba(255, 230, 0, 0) 66.41%),
    linear-gradient(60deg, rgba(255, 230, 0, 0), transparent 100%),
    linear-gradient(190deg, rgba(251, 87, 87, 0.6), transparent 80%),
    linear-gradient(30deg, rgba(216, 210, 254, 0), transparent 80%),
    radial-gradient(28.63% 28.63% at 45.43% 50%, rgba(251, 87, 87, 0.6) 0%, rgba(216, 210, 254, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, rgba(87, 89, 251, 0.64) 0%, rgba(216, 210, 254, 0) 100%);
    background-size: 200% 200%;
    animation: rainbow 20s linear infinite;
}

.login-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.login-layout__form {
    max-width: 560px;
    margin-left: 116px;
    margin-top: 12px
}

.login-layout-intro__text {
    margin: 0;
    padding: 0;
}