.holdstyle {
  border-radius: 50%;
  overflow: hidden;
}

.holdstyle > div {
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.holdstyle.holdstyle--small {
  margin: 0.5rem;
}

.holdstyle.holdstyle--small > div {
  width: 24px;
  height: 24px;
}
