.accordion__item {
    border-bottom: none;
}

.accordion-item__header--disabled > * {
    opacity: .25;
    cursor: not-allowed;
}

.accordion-item-header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 24px;
    padding: calc(2.5 * var(--spacing-unit));
    border: 1px solid var(--color-black);
    border-bottom: none;
    cursor: pointer;
}

.accordion__item:last-child .accordion-item-header {
    border-bottom: 1px solid var(--color-black);
}

.accordion-item-header__content {
    display: flex;
}

.accordion-item__content {

}

.accordion-item-header__toggle {
    margin: 0;
    padding: 0;
    display: flex;
}

.accordion-item-header__toggle--revealed {
}

.accordion-item__content--revealed {
    display: flex;
}

.accordion-item__content--hidden {
    display: none;
}
